// variables ===================================================================

// === ↓ colors
$colorMain_1: #846bf7;
$colorMain_2: #70c5f4;

$colorSecond: #1eebbe;
$colorSecond_1: #00b991;
$colorSecond_2: #b4ffef;
$colorSecondBg: #e7fffa;


$colorContentBg: #ffffff;

// $secondColor: #5947E4;

// $mainBgColor: #7a98f6;

// $secondBgColor: #ea85a0;
// $secondBgGradientColorFirst: #ffa9af;
// $secondBgGradientColorSecond: #f871be;

// $contentBgColor: #ffffff;
// $contentHighlight: lighten($mainBgColor, 20%);
// $textDarkColor: #1F1D3B;

$radiusPanel: 8px;

// extends =====================================================================

// === shadow
.main-shadow {
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.3);
}

.right-shadow {
  box-shadow: 2px 0px 10px 0px rgba(0, 0, 0, 0.3);
}

// === gradients
.main-gradient {
  background: linear-gradient(45deg,
      $colorMain_2 0%,
      $colorMain_1 100%);
}

// .second-gradient {
//   background: linear-gradient(45deg,
//       $secondBgGradientColorFirst 0%,
//       $secondBgGradientColorSecond 100%);
// }

// === ↑ gradients

// === ↓ fonts
// .main-font {
//   font-family: 'Roboto', sans-serif;
//   font-weight: 400;
//   font-style: normal;
//   font-size: 14px;
//   line-height: 24px;
//   text-transform: none;
//   color: $textDarkColor;
// }

// .main-font-bold {
//   font-family: 'Roboto', sans-serif;
//   font-weight: 700;
//   font-style: normal;
//   font-size: 14px;
//   line-height: 24px;
//   text-transform: none;
//   color: $textDarkColor;
// }

// .main-font-black {
//   font-family: 'Roboto', sans-serif;
//   font-weight: 900;
//   font-style: normal;
//   font-size: 14px;
//   line-height: 24px;
//   text-transform: none;
//   color: $secondColor;
// }

// === ↑ fonts

// === base ====================================================================
ul,
li {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}



// === main ====================================================================

body {
  min-height: 100vh;
}

.main {
  width: 80vw;
  min-height: 80vh;
  overflow: hidden;

  &.position {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

// === catalog =================================================================
.top-panel {
  position: relative;
  z-index: 10;
  height: 40px;

  .top-panel__area {
    position: absolute;
    top: 0;
    bottom: 0;

    width: 25%;

    &.left {
      left: 0;

      &:hover {
        width: 50%;

        background: linear-gradient(-90deg,
            rgba(255, 255, 255, 0) 0%,
            $colorSecond_1 75%);
        border-radius: $radiusPanel 0 0 0;

        cursor: pointer;
      }
    }

    &.right {
      right: 0;

      &:hover {
        width: 50%;

        background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            $colorSecond_2 75%);
        border-radius: 0 $radiusPanel 0 0;

        cursor: pointer;
      }
    }
  }
}

// === theme ===================================================================
.theme-default {
  @extend .main-gradient;

  .main {
    background-color: $colorContentBg;
    border-radius: $radiusPanel;
    @extend .main-shadow;
  }

  .top-panel {
    background-color: $colorSecond;
    border-radius: $radiusPanel $radiusPanel 0 0;
  }

  .navigation,
  .sublevel-2,
  .sublevel-3,
  .sublevel-4 {
    background-color: $colorSecondBg;
    border-radius: $radiusPanel;
    @extend .right-shadow;
  }
}

// === components ==============================================================
.navigation {
  padding: 20px 0;

  white-space: nowrap;

  &.position {
    position: absolute;
    z-index: 101;


    top: 40px;
    bottom: 0;

    transform: translate(-110%);
    transition-duration: 200ms;
  }


  &.active {
    transform: translate(0);
    transition-duration: 200ms;
  }

  .navigation-list {
    .navigation-list__item {
      .navigation-list__item-link {
        display: block;
        padding: 5px 30px;
      }
    }

    &.sublevel-1 {
      position: relative;

      .navigation-list__item {
        position: relative;

        .navigation-list__item-link {
          display: block;
          padding: 5px 30px 5px 45px;
        }
      }
    }

    &.sublevel-2 {
      position: absolute;

      top: 0;
      right: 10px;
      transform: translate(100%);

      display: none;
      padding: 5px 0;

      .navigation-list__item {
        position: relative;

        .navigation-list__item-link {
          display: block;
          padding: 5px 30px 5px 25px;
        }
      }
    }

    &.sublevel-3 {
      position: absolute;
      top: 2px;
      right: 10px;
      transform: translate(100%);

      display: none;
      padding: 5px 0;

      .navigation-list__item {
        position: relative;

        .navigation-list__item-link {
          display: block;
          padding: 5px 30px 5px 25px;
        }
      }
    }

    &.sublevel-4 {
      position: absolute;
      top: 2px;
      right: 10px;
      transform: translate(100%);

      display: none;
      padding: 5px 0;

      .navigation-list__item {
        position: relative;

        .navigation-list__item-link {
          display: block;
          padding: 5px 30px 5px 25px;
        }
      }
    }

    .navigation-list__item {
      &:hover>.navigation-list {
        display: block;
      }
    }
  }
}