<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" )
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="shortcut icon" href="./favicon.ico")
    link(rel="stylesheet" href="./assets/vendors/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="./assets/css/theme.css")
    title Сварочные технологии

  body.theme-default
    main.main.position
      .top-panel
        .top-panel__area.left#leftButton
        .top-panel__area.right

      nav.navigation.position#navigation

        ul.navigation-list
          li.navigation-list__item
            a.navigation-list__item-link(href="#").
              Категория 1

            ul.navigation-list.sublevel-1

              li.navigation-list__item
                a.navigation-list__item-link(href="#").
                  1 уровень

                ul.navigation-list.sublevel-2
                  li.navigation-list__item
                    a.navigation-list__item-link(href="#").
                      2 уровень

                    ul.navigation-list.sublevel-3
                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                  li.navigation-list__item
                    a.navigation-list__item-link(href="#").
                      2 уровень

                    ul.navigation-list.sublevel-3
                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                  li.navigation-list__item
                    a.navigation-list__item-link(href="#").
                      2 уровень

                    ul.navigation-list.sublevel-3
                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                  li.navigation-list__item
                    a.navigation-list__item-link(href="#").
                      2 уровень

                    ul.navigation-list.sublevel-3
                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

              li.navigation-list__item
                a.navigation-list__item-link(href="#").
                  1 уровень

                ul.navigation-list.sublevel-2
                  li.navigation-list__item
                    a.navigation-list__item-link(href="#").
                      2 уровень

                    ul.navigation-list.sublevel-3
                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                  li.navigation-list__item
                    a.navigation-list__item-link(href="#").
                      2 уровень

                    ul.navigation-list.sublevel-3
                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                  li.navigation-list__item
                    a.navigation-list__item-link(href="#").
                      2 уровень

                    ul.navigation-list.sublevel-3
                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                  li.navigation-list__item
                    a.navigation-list__item-link(href="#").
                      2 уровень

                    ul.navigation-list.sublevel-3
                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

              li.navigation-list__item
                a.navigation-list__item-link(href="#").
                  1 уровень

                ul.navigation-list.sublevel-2
                  li.navigation-list__item
                    a.navigation-list__item-link(href="#").
                      2 уровень

                    ul.navigation-list.sublevel-3
                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                  li.navigation-list__item
                    a.navigation-list__item-link(href="#").
                      2 уровень

                    ul.navigation-list.sublevel-3
                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                  li.navigation-list__item
                    a.navigation-list__item-link(href="#").
                      2 уровень

                    ul.navigation-list.sublevel-3
                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                  li.navigation-list__item
                    a.navigation-list__item-link(href="#").
                      2 уровень

                    ul.navigation-list.sublevel-3
                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

              li.navigation-list__item
                a.navigation-list__item-link(href="#").
                  1 уровень

                ul.navigation-list.sublevel-2
                  li.navigation-list__item
                    a.navigation-list__item-link(href="#").
                      2 уровень

                    ul.navigation-list.sublevel-3
                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                  li.navigation-list__item
                    a.navigation-list__item-link(href="#").
                      2 уровень

                    ul.navigation-list.sublevel-3
                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                  li.navigation-list__item
                    a.navigation-list__item-link(href="#").
                      2 уровень

                    ul.navigation-list.sublevel-3
                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                  li.navigation-list__item
                    a.navigation-list__item-link(href="#").
                      2 уровень

                    ul.navigation-list.sublevel-3
                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень

                      li.navigation-list__item
                        a.navigation-list__item-link(href="#").
                          3 уровень

                        ul.navigation-list.sublevel-4
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень
                          li.navigation-list__item
                            a.navigation-list__item-link(href="#").
                              4 уровень


          li.navigation-list__item
            a.navigation-list__item-link(href="#").
              Категория 2

          li.navigation-list__item
            a.navigation-list__item-link(href="#").
              Категория 3

          li.navigation-list__item
            a.navigation-list__item-link(href="#").
              Категория 4







    script(src="./assets/vendors/jquery/jquery-3.4.1.slim.min.js")
    script(src="./assets/vendors/bootstrap/js/bootstrap.min.js")

    script(src="./index.js")