<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" )
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="shortcut icon" href="./favicon.ico")
    link(rel="stylesheet" href="./assets/vendors/bootstrap/css/bootstrap.css")
    link(rel="stylesheet" href="./assets/css/theme.css")
    title Сварочные технологии

  body.theme-default
    main.main.position
      .top-panel
        .top-panel__area.left
        .top-panel__area.right

        






    script(src="./assets/vendors/jquery/jquery-3.4.1.slim.min.js")
    script(src="./assets/vendors/bootstrap/js/bootstrap.min.js")

    script(src="./index.js")